/* Import fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;700&display=swap');

/* Set up variables for colors and fonts */

/* Rasmus, her kan du ændre farver og fonte. De er navngivet efter hvad de bruges til, 
   så du ændre bare værdien. */
:root {
  --background: #111111;
  --background-ac: #212121;
  --header: #010101;
  --text: rgb(173, 169, 169);
  --link: rgb(173, 169, 169);
  --link-hover: rgb(128, 125, 125);
  --border: #313535;
  --headline: #ffffff;

  --font-main: 'Lexend', sans-serif;
}

/* 
* Base Styles - Set up body, font sizes/weight and colors
*/

body {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-main);
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

/* Links */
a {
  color: var(--link);
}

a:hover,
a:focus {
  color: var(--link-hover);
  transition: color 250ms ease;
}
